<!doctype html>
<html lang='<?=(isset($lang) ? $lang : 'en')?>'>
	<head>
		<meta charset='utf-8'/>
		<meta name="viewport" content="width=device-width; initial-scale=0.5, maximum-scale=0.5, minimum-scale=0.5; " />
		<title><?php if(isset($title)) echo "{$title} | ";?><?=@$baseTitle?></title>
		<meta name="description" content="<?=@$description?>" />
		<meta name="keywords" content="<?=implode(', ', @$keywords)?>" />
		<base href="<?=@$baseUrl?>">
			
		<link rel = "shortcut icon" href = "<?=@$favicon?>"/>
		<link rel = "stylesheet" type = "text/css" href="<?=@$stylesheet?>"/>
		
		<?php foreach($scripts as $script): ?>
			<script type = "text/javascript" src="<?=@$script?>"></script>
		<?php endforeach; ?>
		
		
		<style type = "text/css"><?=$style?></style>
	</head>

<body>
	<div id = "wrapper">
		<div id = "above"><?=@$above?></div>		
		
		<div id = "contentWrapper" class = "shadow">
			<div id = "content"><?=@$content?></div>
		</div>
	</div>
</body>



</html>