<!DOCTYPE html>
<html>
<head>
<title>Type Two</title>
<meta charset="utf-8" />

<?php foreach($scripts as $script): ?>
<script type = "text/javascript" src="<?=@$script?>"></script>
<?php endforeach; ?>

<link rel = "stylesheet" type = "text/css" href="<?=@$stylesheet?>"/>

<style type="text/css">

</style>
</head>

<body>
<div id="wrapper">
<p>Hello World</p>
IP:<input type="text" autofocus id="ipfield" placeholder="Input IP" maxlength="100" value="mikael.hernvall.com" />
Port:<input type="text" id="portfield" placeholder="Input Port" value="8080" maxlength="100" />
<br />
Username:<input type="text" id="namefield" placeholder="John Doe" maxlength="100" />
Password:<input type="password" id="passfield" placeholder="John123" maxlength="100" />
<input type="button" id="connectButton" value="Connect" />
<br />
<div id="chat-window">
	<label id="label1"></label>
</div>
<input type="text" id="textbox" required="true" placeholder="Yes, this is dog!" maxlength="1000" />
<input type="button" id="sendButton" value="Send" />
<br />
<footer>
</footer>
</div>
</body>
</html>