<script type = "text/javascript" src="../../../common/js/jquery.js"></script>
<script type = "text/javascript" src="../../../common/js/login.js"></script>

<!-- Must be loaded first, in this order -->
<script type = "text/javascript" src="../typetwo-game/Vector.js"></script>
<script type = "text/javascript" src="../typetwo-game/GUIElement.js"></script>
<script type = "text/javascript" src="../typetwo-game/State.js"></script>
<script type = "text/javascript" src="../typetwo-game/GUIContainer.js"></script>
<script type = "text/javascript" src="../typetwo-game/MenuState.js"></script>
<script type = "text/javascript" src="../typetwo-game/Socket.js"></script>
<!-- -->

<!-- These can be loaded whenever -->
<script type = "text/javascript" src="../typetwo-game/main.js"></script>

<script type = "text/javascript" src="../typetwo-game/utility.js"></script>
<script type = "text/javascript" src="../typetwo-game/AnimationFrame.js"></script>
<script type = "text/javascript" src="../typetwo-game/Canvas2D.js"></script>
<script type = "text/javascript" src="../typetwo-game/GUIText.js"></script>
<script type = "text/javascript" src="../typetwo-game/GUITextField.js"></script>
<script type = "text/javascript" src="../typetwo-game/MainMenuState.js"></script>
<script type = "text/javascript" src="../typetwo-game/ConnectionBarState.js"></script>
<script type = "text/javascript" src="../typetwo-game/AboutMenuState.js"></script>
<script type = "text/javascript" src="../typetwo-game/MainMenu.js"></script>
<script type = "text/javascript" src="../typetwo-game/LoginMenu.js"></script>
<script type = "text/javascript" src="../typetwo-game/Button.js"></script>
<script type = "text/javascript" src="../typetwo-game/Input.js"></script>
<script type = "text/javascript" src="../typetwo-game/TypeTwo.js"></script>
<script type = "text/javascript" src="../typetwo-game/config.js"></script>

<script type = "text/javascript" src="../typetwo-game/StateStack.js"></script>
<!-- -->






<canvas id="typetwo-canvas" title="" width="500px" height="500px" style="margin:auto;">
	HTML5 Canvas is not supported by your browser or JavaScript is disabled.
</canvas>