<meta name="viewport" content="initial-scale=1.0, user-scalable=no;user-scalable=0;"/>

<script type = "text/javascript" src="../../../common/js/jquery.js"></script>
<script type = "text/javascript" src="../../../common/js/login.js"></script>

<!-- Must be loaded first, in this order -->
<script type = "text/javascript" src="../typetwo-game/Vector.js"></script>
<script type = "text/javascript" src="../typetwo-game/GUIElement.js"></script>
<script type = "text/javascript" src="../typetwo-game/State.js"></script>
<script type = "text/javascript" src="../typetwo-game/GUIContainer.js"></script>
<script type = "text/javascript" src="../typetwo-game/MenuState.js"></script>
<script type = "text/javascript" src="../typetwo-game/Socket.js"></script>
<!-- -->

<!-- These can be loaded whenever -->
<script type = "text/javascript" src="../typetwo-game/main.js"></script>

<script type = "text/javascript" src="../typetwo-game/utility.js"></script>
<script type = "text/javascript" src="../typetwo-game/AnimationFrame.js"></script>
<script type = "text/javascript" src="../typetwo-game/Canvas2D.js"></script>
<script type = "text/javascript" src="../typetwo-game/GUIText.js"></script>
<script type = "text/javascript" src="../typetwo-game/GUIProgressBar.js"></script>
<script type = "text/javascript" src="../typetwo-game/GUITextField.js"></script>
<script type = "text/javascript" src="../typetwo-game/MainMenuState.js"></script>
<script type = "text/javascript" src="../typetwo-game/ConnectionBarState.js"></script>
<script type = "text/javascript" src="../typetwo-game/AboutMenuState.js"></script>
<script type = "text/javascript" src="../typetwo-game/MainMenu.js"></script>
<script type = "text/javascript" src="../typetwo-game/LoginMenu.js"></script>
<script type = "text/javascript" src="../typetwo-game/Button.js"></script>
<script type = "text/javascript" src="../typetwo-game/Input.js"></script>
<script type = "text/javascript" src="../typetwo-game/TypeTwo.js"></script>
<script type = "text/javascript" src="../typetwo-game/config.js"></script>

<script type = "text/javascript" src="../typetwo-game/StateStack.js"></script>
<!-- -->




<body style="margin: 0; padding: 0;">
	<canvas id="typetwo-canvas" title="">
		HTML5 Canvas is not supported by your browser or JavaScript is disabled.
	</canvas>
	<input id="field" type="text" style="z-index:-1; position:absolute; left:-10px; top:0; width:0px; height:0px; padding: 0; margin: 0;"/>
</body>

